galaxy_info:
  role_name: {{ role_name | replace("ansible-role-", "") }}
  namespace: moletti
  author: Leo Moletti
  description: Role description
  license: MIT
  min_ansible_version: "2.11"
  platforms:
   - name: Debian
     versions:
       - stretch
       - buster
  galaxy_tags: []

dependencies: []
