---
name: Ansible Molecule

on:
  push:
    branches-ignore:
      - '**'
    tags:
  pull_request:
  schedule:
    - cron: '0 0 * * 5'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Molecule test
        uses: moletti/molecule-action@v1
